{
    "customSyntax": "postcss-scss",
    "plugins": ["stylelint-no-unsupported-browser-features"],
    "rules": {
        "color-no-invalid-hex": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "function-calc-no-unspaced-operator": true,
        "no-duplicate-selectors": true,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["export"]
            }
        ],
        "selector-pseudo-element-no-unknown": true,
        "selector-type-no-unknown": [
            true,
            {
                "ignoreTypes": ["from", "to", "0%", "50%", "100%", "_"]
            }
        ],
        "string-no-newline": true,
        "plugin/no-unsupported-browser-features": [
            true,
            {
                "severity": "error",
                "ignore": ["calc", "user-select-none", "multicolumn", "css-appearance", "intrinsic-width"]
            }
        ]
    }
}
